pip==24.2
setuptools<75
wheel

streamlit==1.32.2
rich==13.7.1

# ให้เข้ากับข้อกำหนดของ streamlit 1.32.2
numpy==1.26.4
pandas==2.2.2

qrcode[pil]==7.4.2
fpdf2==2.7.9

gspread==6.1.2
google-auth==2.35.0

streamlit-authenticator==0.4.1
# streamlit-qr-code-scanner  ← ตัดออกชั่วคราว
